doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='static/style_login_and_register.css')
  title Admin-Rosh Railways
h1.heading Admin Page
form.admin_form(action='/admin_search')
  input(type='text' placeholder='Enter train number')
  input(type='button' value='Submit')


